<md-card [@flyIn]="'in'">
  <md-toolbar color="primary">Login</md-toolbar>
  <md-progress-bar mode="{{queryInProgress ? 'query' : 'determinate'}}"></md-progress-bar>
  <form #loginForm="ngForm" (ngSubmit)="login();">
    <md-card-content>
      <md-input placeholder="Username" #username="ngModel" [(ngModel)]="credentials.username" name="username" required dividerColor="{{ loginFailed ? 'warn' : 'primary' }}"></md-input>
      <md-input type="password" placeholder="Password" [(ngModel)]="credentials.password" name="password" required dividerColor="{{ loginFailed ? 'warn' : 'primary' }}">
        <md-hint *ngIf="loginFailed">
          <span>Wrong login or password. </span>
        </md-hint>
      </md-input>



    </md-card-content>
    <md-card-actions>
      <button md-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </md-card-actions>
  </form>
</md-card>
